@{
    ViewBag.Title = "Success";
}

<div class="center-form">
    <div class="col-md-10">
        <p>Delete Success</p>
        You are successfully deleted @ViewBag.Name
        <div>
            @Html.ActionLink("Back to List", "GetCategoryList", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>