@model List<AlchemicShop.WEB.Models.CategoryViewModel>

@{
    ViewBag.Title = "Category List";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "CreateCategories")
</p>
<table class="table">
    <tr>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "CategoryEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "CategoryDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
