@{
    ViewBag.Title = "DeleteSuccess";
}

<h2>Delete Success</h2>
<h8>You are successfully deleted @ViewBag.Name </h8>
<div>
    @Html.ActionLink("Back to List", "GetProductList", "Product", null, new { @class = "btn btn-primary" })
</div>

