
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-4">
        <h2>Немного истории</h2>
        <img src="~/Content/Images/About/img_about2.png" />
        <p align="justify" class="h4">
            Первые справочники были изданы в далеком 1878 г. в Нью-Хейвене (Коннектикут).
            С тех пор телефонные справочники прочно заняли свое место во всех сферах деятельности.
            В настоящее время за год происходит свыше 19 млн обращений к телефонным справочникам.
        </p>
    </div>
    <div class="col-md-4">
        <h2>В планах</h2>

        <p align="justify" class="h4">
            Справочники — экономически эффективный рекламоноситель, охватывающий серьезных, готовых к совершению покупки потребителей.
            Для многих розничных фирм, в первую очередь сервисных организаций, например водопроводных,
            справочники могут стать единственным способом продвижения своих услуг.
            При этом справочники совершенно не навязчивы!
        </p>
        <img src="~/Content/Images/About/img_about3.png" width="350" height="350" />
    </div>
    <div class="col-md-4">

        <img src="~/Content/Images/About/img_about1.png" /><h2>Справочники в будущее</h2>
        <p align="justify" class="h4">
            По заголовкам объявлений в телефонных справочниках можно проследить всю эволюцию рынка и образа жизни потребителей.
            Например, поиск медицинских центров, организаций по уходу за чем-либо,
            юристов, компаний-грузоперевозчиков и т. д.
            Это все свидетельствует о растущей мобильности общества.

        </p>
    </div>
</div>

<div class="jumbotron">
    <h1>Alchemic Shop</h1>
    <p class="lead">
        Alchemy and alchemist are in fact older words than chemistry and chemist in English.
        Alchemists believed that lead could be “perfected” into gold, that diseases could be cured, and that
        life could be prolonged through transmutation, or a change of some essential element into a superior form.
        Their secretive experiments, usually involving heat and the mixing of liquids,
        led to the development of pharmacology and the rise of modern chemistry.
    </p>
    <p><a href="~/Views/Product/GetProductList.cshtml" class="btn btn-primary btn-lg">Go on</a></p>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>