@{
    ViewBag.Title = "About";
}
<div id="about" class="jumbotron">
    <p class="p-about">Humankind cannot gain anything without first giving something in return. To obtain, something of equal value must be lost. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <p class="p-link-column">
            Potion Of Invisibility
        </p>
        <img class="card-img-top" src="~/Content/Images/About/img_about3.png" />
        <p>
            Although the regular potion of invisibility doesn’t have any extra effects,
            this useful brew will help you sneak past any enemy or foe without having to worry about being noticed.
            The effect usually doesn’t last for too long, but if you make the best of your time,
            you’ll surely find a lot of use in this potion if you’re a thief or an assassin!
        </p>
    </div>
    <div class="col-md-4">
        <p class="p-link-column">The Five-Effect</p>
        <p>
            Most multi-effect potions that have more than four effects will usually give you at least one damaging debuff in the mix.

            But crafting potions with many effects will greatly increase your alchemy level, so be sure to craft these if you want to level up quickly!
        </p>
        <img class="card-img-top" src="~/Content/Images/About/img_about2.gif" width="350" height="350" />
    </div>
    <div class="col-md-4">
        <img class="card-img-top" src="~/Content/Images/About/img_about1.png" />
        <p class="p-link-column">Fortify Enchanting</p>
        <p>
            Sure, you can go on with your enchanting business without drinking a potion first,
            but you won’t be getting the best out of it.
            The potion of enchanting will stop your enchanting skills momentarily,
            allowing you to embed stronger spells in your weapons than you would without the effects of this brew.

        </p>
    </div>
</div>

