
@{
    ViewBag.Title = "About";
}

    <div class="row">
        <div class="col-md-4">
            <h2>Немного истории</h2>
            <img src="~/Content/Images/About/img_about2.png"/>
            <p align="justify" class="h4">
                Первые справочники были изданы в далеком 1878 г. в Нью-Хейвене (Коннектикут).
                С тех пор телефонные справочники прочно заняли свое место во всех сферах деятельности.
                В настоящее время за год происходит свыше 19 млн обращений к телефонным справочникам.
            </p>
        </div>
        <div class="col-md-4">
            <h2>В планах</h2>

            <p align="justify" class="h4">
                Справочники — экономически эффективный рекламоноситель, охватывающий серьезных, готовых к совершению покупки потребителей.
                Для многих розничных фирм, в первую очередь сервисных организаций, например водопроводных,
                справочники могут стать единственным способом продвижения своих услуг.
                При этом справочники совершенно не навязчивы!
            </p>
            <img src="~/Content/Images/About/img_about3.png" width="350" height="350" />
        </div>
        <div class="col-md-4">

            <img src="~/Content/Images/About/img_about1.png" /><h2>Справочники в будущее</h2>
            <p align="justify" class="h4">
                По заголовкам объявлений в телефонных справочниках можно проследить всю эволюцию рынка и образа жизни потребителей.
                Например, поиск медицинских центров, организаций по уходу за чем-либо,
                юристов, компаний-грузоперевозчиков и т. д.
                Это все свидетельствует о растущей мобильности общества.

            </p>
        </div>
    </div>

