
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-4">
        <h2>Potion Of Invisibility</h2>
        <img src="~/Content/Images/About/img_about2.png" />
        <p align="justify" class="h4">
            Although the regular potion of invisibility doesn’t have any extra effects,
            this useful brew will help you sneak past any enemy or foe without having to worry about being noticed.
            The effect usually doesn’t last for too long, but if you make the best of your time,
            you’ll surely find a lot of use in this potion if you’re a thief or an assassin!
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Five-Effect</h2>

        <p align="justify" class="h4">
            Most multi-effect potions that have more than four effects will usually give you at least one damaging debuff in the mix.

            But crafting potions with many effects will greatly increase your alchemy level, so be sure to craft these if you want to level up quickly!
        </p>
        <img src="~/Content/Images/About/img_about3.png" width="350" height="350" />
    </div>
    <div class="col-md-4">

        <img src="~/Content/Images/About/img_about1.png" /><h2>Fortify Enchanting</h2>
        <p align="justify" class="h4">
            Sure, you can go on with your enchanting business without drinking a potion first,
            but you won’t be getting the best out of it.
            The potion of enchanting will stop your enchanting skills momentarily,
            allowing you to embed stronger spells in your weapons than you would without the effects of this brew.

        </p>
    </div>
</div>

<div class="jumbotron">
    @*< <h1>Fortify Enchanting</h1>
        p class="lead">
                Alchemy and alchemist are in fact older words than chemistry and chemist in English.
                Alchemists believed that lead could be “perfected” into gold, that diseases could be cured, and that
                life could be prolonged through transmutation, or a change of some essential element into a superior form.
                Their secretive experiments, usually involving heat and the mixing of liquids,
                led to the development of pharmacology and the rise of modern chemistry.
            </p>*@
    <p><a href="~/Product/GetProductList" class="btn btn-primary btn-lg">Go on</a></p>
</div>
@*<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>*@