@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
    </div>
    <h1 class="display-4">Alchemic Shop</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Neural potions</h2>
        <img class="card-img-top" src="~/Content/Images/Index/potion1.png" alt="Card image cap">
        <p><a href="~/Product/GetProductList" class="btn btn-primary btn-lg">Buy</a></p>
        <p>
            Today we recognize alchemy as a pseudoscience, and give chemistry its rightful place as a serious scientific field,
            but the two terms initially overlapped in meaning before separating by the 17th century,
            just as astrology and astronomy did during the same period.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Guardian potions</h2>
        <img class="card-img-top" src="~/Content/Images/Index/potion2.png" alt="Card image cap">
        <p><a href="~/Product/GetProductList" class="btn btn-primary btn-lg">Buy</a></p>
        <p>
            The long route to English for alchemist began with the Greek word chēmeia, which probably came
            from the word chyma (“fluid”), derived from the verb chein, meaning “to pour.” It then passed to Arabic,
            which added its definite article al- (“the”) to the Greek root. The word then passed from Latin to French before coming to English.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Windfury potions</h2>
        <img class="card-img-top" src="~/Content/Images/Index/potion3.png" alt="Card image cap">
        <p><a href="~/Views/Product/GetProductList.cshtml" class="btn btn-primary btn-lg">Buy</a></p>
        <p>
            Some other words derived from Arabic also retain the al- in English,
            such as algebra, algorithm, and alcohol; in fact, the transformative
            liquid that was constantly being sought through experimentation by alchemists is another word with the Arabic al- prefix: elixir.
        </p>
    </div>
</div>


