
@font-face {
    font-family: Swamp Witch;
    src: url("Fonts/swamp-witch-font.ttf");
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.jumbotron {
    background-image: url(Images/Index/jumbotron_index.jpg);
    background-size: cover;
    height: 100%;
}

#about {
    background-image: url(Images/About/jumbotron-about.png);
    background-size: cover;
    height: 100%;
}

input,
select,
textarea {
    max-width: 280px;
}

p,
.form-group {
    text-align: justify;
    font-weight: 600;
    font-family: Swamp Witch;
}

.p-column {
    margin-left: 30px;
}

.p-link {
    text-align: center;
}

.p-about {
    text-align: justify;
    color: #e69bcb;
    font-size: 19px;
    text-shadow: 1px 1px 2px black, 0 0 3em white;
    background: linear-gradient(#923f8b, #294827);
    margin-right: 30%;

}

.p-link-column {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: #1f64ae;
    text-shadow: 1px 2px 2px black, 0 0 1em #cf1717;
}

.layout-img {
    width: 100%;
    height: 80%;
}

.display-4 {
    font-family: Swamp Witch;
    color: #923f8b;
    text-shadow: 1px 2px 2px black, 0 0 1em #e69bcb;
    text-align: center;
    border-radius: 10px 10px;
    background: linear-gradient(#e69bcb, #48e9df);
}

.row
{
    background: linear-gradient(to top, #e69bcb,lightsalmon);
    border-radius: 10px 10px;
    margin-left: 0.5px;
    margin-right: 0.5px;
}

.center-auth-form {
    background: linear-gradient(#fedcdc, white);
    border-radius: 20px 20px;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.col-md-4{
padding-left:10px;
}

.btn-secondary {
    color: brown;
    background-color: #fedcdc;
    border-color: brown;
    margin-top: 3%;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    font-size: 20px;
}
.btn-primary {
    color: brown;
    background-color: #e5c6e2;
    border-color: brown;
    margin-top: 2%;
    width: 100%;
    height: 100%;
    font-size:20px;
    justify-content: center;
    display: flex;
}

