
@font-face {
    font-family: Swamp Witch;
    src: url("Fonts/swamp-witch-font.ttf");
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.jumbotron {
    background-image: url(Images/Index/jumbotron_index.jpg);
    background-size: cover;
    height: 100%;
}

#about {
    background-image: url(Images/About/jumbotron-about.png);
    background-size: cover;
    height: 100%;
}

input,
select,
textarea {
    max-width: 280px;
}

p {
    text-align: justify;
    font-weight: 600;
    font-family: Swamp Witch;
}

.p-column {
    margin-left: 30px;
}

.p-link {
    text-align: center;
}

.p-about {
    text-align: left;
    color: #e69bcb;
    font-size: 19px;
    text-shadow: 1px 1px 2px black, 0 0 3em white;
    background-color: #1f64ae;
    margin-right: 300px;
}

.p-link-column {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: #1f64ae;
    text-shadow: 1px 2px 2px black, 0 0 1em #cf1717;
}

.layout-img {
    width: 100%;
    height: 80%;
}

.center-auth-form {
    margin-left: 35%;
}


.display-4 {
    font-family: Swamp Witch;
    margin-left: 7%;
    color: #923f8b;
    text-shadow: 1px 2px 2px black, 0 0 1em #e69bcb;
    /*background-color: #d282e5;*/
    margin-right: 300px;
    margin-left: 250px;
    background-image: url(Images/About/jumbotron-about.png);
}

.display-4-ieg {
    font-family: Swamp Witch;
    margin-left: 10%;
    color: #923f8b;
    text-shadow: 1px 2px 2px black, 0 0 1em #e69bcb;
}

.row {
    background: linear-gradient(to top, #e69bcb,lightsalmon);
    border-radius: 10px 10px;
    margin-left: 0.5px;
    margin-right: 0.5px;
}
